@using ELPS.Domain.Entities
@using ELPS.Models

@model IEnumerable<Document_Type>

@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int counter = 0;

    string msg = string.Empty;
    string typ = string.Empty;
    string title = string.Empty;
    bool alert = ViewBag.Alert != null ? true : false;
    if (alert)
    {
        var alertMsg = (AlertModel)ViewBag.Alert;
        msg = alertMsg.Message;
        title = alertMsg.Title;
        typ = alertMsg.AlertType;
    }
}

<div>
    <div class="clear-float">
        <h1 class="text-light place-left">Documents</h1>

        <div class="place-right">
            @Html.ActionLink("+", "AddDocument", null, new { @class = "button cycle-button primary block-shadow-success mif-ani-shuttle mif-ani-slow", @data_role = "hint", @data_hint_mode = "2", @data_hint_position = "left", @data_hint = "|Add new Documents" })
        </div>
    </div>

    <hr class="thin bg-grayLighter">

    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">
        <thead>
            <tr>
                <th style="width: 20px;"></th>
                <th class="sortable-column">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="align-right">Control</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-right">
                        @Html.ActionLink("Edit", "EditDocument", new { id = item.Id }, new { @class = "button small-button info epBtn" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#lnkDocuments").addClass("active");

            if ('@alert' === 'True') {
                //alert("Oya lets go there");
                var msg = '@msg.Replace("@", "")';
                var typ = '@typ';
                var title = '@title';
                NotifyUser(msg, title, typ);
            }
        });
    </script>
}