@using ELPS.Domain.Entities
@using ELPS.Models
@model IEnumerable<vPermit>

@{
    ViewBag.Title = "Expired Licenses/Permits";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
    var Filter = (BranchFilterModel)ViewBag.Filter;
}

@*@Scripts.Render("~/Scripts/Highcharts-4.0.4/js/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts-4.0.4/js/modules/exporting.js")*@



<link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>


<div>
    <div class="clear-float">
        <h1 class="text-light place-left" style="margin: 0;">
            <span class="mif-library icon" style="font-size: 30px; vertical-align: top; padding-top: 10px;"></span> Expired Licenses/Permits
        </h1>
        <div class="clear-float"></div>
        <div class="place-left" style="margin-top: 15px;">
            @ViewBag.ResultTitle
            @if (ViewBag.ByCompany != null && (bool)ViewBag.ByCompany)
            {
                <input type="hidden" name="url" id="url" value="@Url.Action("AjaxifyExpiredByCompany", "License", new { coyName = ViewBag.CompanyName })" />
            }
            else
            {
                <input type="hidden" name="url" id="url" value="@Url.Action("AjaxifyExpired", "License", new { startDate = ViewBag.SD, endDate = ViewBag.ED, license = ViewBag.license, category = ViewBag.category })" />
            }
        </div>
    </div>

    <hr class="thin bg-grayLighter">

    <div class="clear-float">
        <div class="place-left">
            @using (Html.BeginForm("Expired", "License", FormMethod.Get))
            {
                <div class="input-control alt text" data-role="datepicker" data-format="mm/dd/yyyy">
                    <button class="button"><span class="mif-calendr"> From </span></button>
                    <input name="startDate" id="startDate" type="text">
                </div>

                <div class="input-control alt text" data-role="datepicker" data-format="mm/dd/yyyy">
                    <button class="button"><span class="mif-calendr">To </span></button>
                    <input name="endDate" id="endDate" type="text">
                </div>
                @Html.DropDownList("license", (SelectList)ViewBag.licenses, "Select License", new { @style = "width:140px;margin-right: 5px;", @class = "righty input-control" })

                @Html.DropDownList("category", (SelectList)ViewBag.categories, "Select Category", new { @style = "width:140px;margin-right: 5px;", @class = "righty input-control" })

                @*@Html.DropDownList("location", (SelectList)ViewBag.states, "Select Location", new { @style = "width:140px;margin-right: 5px;", @class = "righty input-control" })*@

                @Html.Partial("_FilterControl", Filter)

                <input type="submit" value="Filter" class="righty button success input-append" />

            }
            OR &nbsp;
            @using (Html.BeginForm("Expired", "License", FormMethod.Post))
            {
                <div class="input-control alt text">
                    <input type="text" placeholder="Enter company Name" name="coyName" id="coyName" required>
                </div>
                <input type="submit" value="Find By Company" class="righty button success input-append" />

            }
        </div>
    </div>
    <hr class="thin bg-grayLighter">

    <div>
        <table id="dtTable" class="Dtable border bordered" data-role="datatble" data-auto-width="false">
            <thead>
                <tr>
                    <th class="sortable-column">
                        License/Permit No
                    </th>
                    <th class="sortable-column">
                        RRR
                    </th>
                    <th class="sortable-column">
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th class="sortable-column">
                        License
                    </th>
                    @*<th class="sortable-column">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>*@
                    <th class="sortable-column">
                        @Html.DisplayNameFor(model => model.Date_Issued)
                    </th>
                    <th class="sortable-column">
                        @Html.DisplayNameFor(model => model.Date_Expire)
                    </th>
                    <th>Fee</th>
                    <th>Other Fees</th>
                    <th style="width: 70px;"></th>
                </tr>
            </thead>

            <tbody>
            </tbody>

        </table>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/js/DT/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/js/DT/buttons.flash.min.js"></script>
    <script src="~/Scripts/js/DT/jszip.min.js"></script>
    <script src="~/Scripts/js/DT/pdfmake.min.js"></script>
    <script src="~/Scripts/js/DT/vfs_fonts.js"></script>
    <script src="~/Scripts/js/DT/buttons.html5.min.js"></script>
    <script src="~/Scripts/js/DT/buttons.print.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#lnkPermit").addClass("active");

            var t = $('#dtTable');
            var h = $('#navigationHeader');//navigationHeader
            var pos = t.position();
            $(window).scroll(function () {
                var windowpos = $(window).scrollTop();
                if (windowpos >= pos.top) {

                    h.css('opacity', 0)
                } else {
                    h.css('opacity', 1)
                }
            });

            $(".Dtable").dataTable({
                //fixedHeader: true,
                //responsive: true,
                dom: '<"grid"<"row cells3"<"cell"l><"cell"f><"cell text-right"B>>><t><"row"<"col-md-6"i><"col-md-6"p>>', //'Bfrtip',
                buttons: [
                    { extend: 'copy', attr: { id: 'allan' } }, 'excel', 'print'
                ],
                "lengthMenu": [100, 250, 500, 1000], //[10, 25, 50, "All"]]
                "bServerSide": true,
                "sAjaxSource": `${$('#url').val()}&filterparam=${$('#_filterparam').val()}&filterby=${$("#_filterby").val()}`,// '/Permit/AjaxifyPermit',  //"
                "bProcessing": true,
                "pageLength": 250,
                "aoColumns": [
                    {
                        "sName": "Permit_No",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[0] + '</span>';
                        }
                    },
                    {
                        "sName": "RRR",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[1] + '</span>';
                        }
                    },
                    {
                        "sName": "CompanyName",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[2] + '</span>';
                        }
                    },
                    {
                        "sName": "LicenseShortName",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[3] + '</span>';
                        }
                    },
                    //{
                    //    "sName": "CategoryName",
                    //    "mRender": function (data, type, oObj) {
                    //        return '<span>' + oObj[4] + '</span>';
                    //    }
                    //},
                    {
                        "sName": "Date_Issued",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[4] + '</span>';
                        }
                    },
                    {
                        "sName": "Date_Expire",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[5] + '</span>';
                        }
                    },
                    {
                        "sName": "Fee",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[6] + '</span>';
                        }
                    },
                    {
                        "sName": "OtherFees",
                        "mRender": function (data, type, oObj) {
                            return '<span>' + oObj[7] + '</span>';
                        }
                    },
                    {
                        "sName": "id",
                        "bSearchable": false,
                        "bSortable": false,
                        "mRender": function (data, type, oObj) {
                            // alert(oObj);
                            return '<a class="button small-button info" target="_blank" href="/Permit/ViewPermit/' + oObj[8] + '">' + 'View' + '<i class="icon-login"></i></a> ';
                        }
                    }
                ],
                //"createdRow": function( row, data, dataIndex){
                //    if( data[8] === 'True'){
                //        $(row).addClass('bg-danger');
                //    }
                //}
            });

            $("#filterby").on('change', function () {
                var targ = $(this).val();
                $(this).siblings('.selFilter').css('display', 'none');
                $('#' + targ).css('display', 'inline-block');
            });

            $(".selFilter").on('change', function () {
                $('#filterparam').val($(this).val());
            });
        });
    </script>
}