@using ELPS.Models
@model ELPS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "AdminForgotPassword";
    Layout = "~/Views/Shared/_NoNavLayout.cshtml";

    bool alert = ViewBag.Message != null ? true : false;
    string stat = "";
    if (alert)
    {
        if(ViewBag.Message.ToLower() == "pass")
        {
            stat = "p";
        }
        else
        {
            stat = "f";
        }
    }
}

<div class="mid-control">
    <h3>@ViewBag.Title</h3>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                @using (Html.BeginForm("AdminForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "" })
                            <div class="input-control text full-size">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-primary" value="Reset Password" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (ViewBag.Link != null)
            {
                <div class="well">
                    <h3>Please Use the Link below</h3>

                    <a href="@ViewBag.Link">Reset your Password</a>
                </div>
            }
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            if ('@alert' === 'True') {
                if ('@stat' === 'p') {
                    NotifyUser('Password Changed successfully', "Change", 'success');
                }
                else if ('@stat' === 'f') {
                    NotifyUser('Password Not Changed. Try again', "Change", 'fail');
                }
            }
        });

        function NotifyUser(msg, title, typ) {
            setTimeout(function () {
                $.Notify({ keepOpen: true, type: typ.length > 0 ? typ : 'default', caption: title.length > 0 ? title : 'Alert!', content: msg.length > 0 ? msg : "Alert! Alert!! Alert!!!" });
            }, 700);
        }
    </script>
}
