@model ELPS.Domain.ViewDTOs.VerifyPermitDTO
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Verify Permit";
    ViewBag.pageType = "SinglePage";
    var ErrorList = (List<string>)TempData["ErrorList"];
}
<div class="col-12" id="leftSide">
    <section class="bodyContent">
        <section id="left-header" class="d-flex  align-items-center pb-3 my-2">
            <div id="left-logo">
                <img src="~/Content/assets/img/nuprc.png" style="height:100px" alt="NUPRC LOGO" class="img-fluid">
            </div>
            <div class="left-title">
                <span class="text-white">The  Nigerian Upstream Petroleum Regulatory Commission</span>
            </div>
        </section>

        <div class="title-divider SmallerScreen"></div>
        <section class="MainContents">
            <section class="selectedInfo py-4">
                @if (!string.IsNullOrEmpty(ViewBag.ShortName))
                {
                    <div class="lower-section d-flex align-items-center">
                        <b class="left-sub-acronym text-white">@ViewBag.ShortName</b>
                        <span class="badge selected badge-pill badge-warning text-white">Selected</span>
                    </div>
                    <div class="left-sub-title">@ViewBag.FullName</div>
                }
                else
                {
                    <div class="lower-section d-flex align-items-center">
                        <b class="left-sub-acronym text-white">CELPS</b>
                        <span class="badge selected badge-pill badge-warning text-white">Selected</span>
                    </div>
                    <div class="left-sub-title">Central Electronic Licensing and Permit System</div>
                }
            </section>

            <div class="left-sub-title-divider"></div>

            <section class="form pt-4 text-white">
                <div class="row pb-2">
                    <div class="col d-flex justify-content-between align-items-center formHeader">
                        <div class="login-title">Verify Permit</div>
                        <div class="links">
                            <a href="@Url.Action("Register", "Account",new { appId=ViewBag.appId})" class="text-warning staticLink">Register </a> |
                            <a href="@Url.Action("Login", "Account",new { appId=ViewBag.appId})" class="text-warning staticLink">Login</a>
                        </div>
                    </div>
                </div>
                @if (ErrorList != null && ErrorList.Any())
                {
                    foreach (var error in (List<string>)TempData["ErrorList"])
                    {
                        <div class="alert alert-warning alert-dismissable fade show text-danger" role="alert">
                            <span class="fa fa-exclamation-triangle"></span>
                            @error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                }

                @using (Html.BeginForm("VerifyPermit", "Permit", new { appId = ViewBag.appId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        @Html.LabelFor(m => m.LicenseNo)
                        @Html.TextBoxFor(m => m.LicenseNo, new { @class = "form-control text-white", placeholder = "username@company.com" })
                        @Html.ValidationMessageFor(m => m.LicenseNo, "", new { @class = "text-warning" })
                    </div>
                    <button type="button" class="btn btn-warning submit staticBtn">Verify</button>
                }


            </section>
        </section>
        <div class="LargerScreen Footer">
            <section class="content">
                <div class="d-flex justify-content-around py-4">
                    <a href="https://www.nuprc.gov.ng/history-of-dpr/" class="navSep staticLink" target="_blank">About</a>
                    <a href="https://www.nuprc.gov.ng/acts-and-regulations/" class="navSep staticLink" target="_blank">Acts</a>
                    <a href="https://www.nuprc.gov.ng/dpr-guidelines/" class="navSep staticLink" target="_blank">Guidelines</a>
                    <a href="https://www.nuprc.gov.ng/contact/" class="navSep staticLink" target="_blank">Contact</a>
                </div>
            </section>
        </div>

        <footer class="SmallerScreen">
            <section class="content">
                <div class="d-flex justify-content-between py-2">
                    <a href="https://www.nuprc.gov.ng/history-of-dpr/" class="navSep staticLink" target="_blank">About</a>
                    <a href="https://www.nuprc.gov.ng/acts-and-regulations/" class="navSep staticLink" target="_blank">Acts</a>
                    <a href="https://www.nuprc.gov.ng/dpr-guidelines/" class="navSep staticLink" target="_blank">Guidelines</a>
                    <a href="https://www.nuprc.gov.ng/contact/" class="navSep staticLink" target="_blank">Contact</a>
                </div>
            </section>
        </footer>
    </section>
</div>
